<section class="todoapp">
  <header class="header">
    <h1>honey do</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="">
  </header>

  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <label><a href="#">Grocery List</a></label>
        </div>
      </li>

      <li>
        <div class="view">
          <label><a href="#">Reading List</a></label>
        </div>
      </li>

      <li>
        <div class="view">
          <label><a href="#">Baking List</a></label>
        </div>
      </li>

    </ul>
  </section>

  <footer class="footer">
  </footer>
</section>
