<section class="todoapp">
  <header class="header">
    <h1>Grocery list</h1>
    <input class="new-todo" placeholder="add an item to this list" autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>bananas</label>
        </div>
      </li>

      <li>
        <div class="view">
          <label>apples</label>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer">
  </footer>
</section>
<!-- stubbing out the way i want the list to actually be -->
