<section class="todoapp">
  <header class="header">
    <h1>signup here</h1>
    <%= form_for(@user) do |f| %>
      <%= f.text_field :email, class: 'new-todo', placeholder: 'enter your email to signup' %>
      <%= f.text_field :password, class: 'new-todo', placeholder: 'choose password, we encrypt' %>
      <%= f.submit %>
    <% end %>
  </header>

  <footer class="footer">
  </footer>
</section>
