<li class="<%= li_class_for_items(item) %>">
  <!-- ^^want this to return complete or incomplete, view helper -->
  <div class="view">
    <%= form_for([@list, item]) do |f| %>
      <%= f.check_box :status, class: 'toggle', checked: (true if item.complete?) %>
    <% end %>
    <label><%= item.description %></label>
  </div>
</li>
